<div class="row">
  <div class="mx-auto col-sm-9">
    <h1 class="title">Your Favorite Burgers List!</h1>
    <p class="mx-auto sub-text">Enter the name of any burger to add it to the list, then you can click <strong>Eat it
        now!</strong> to move that burger to the consumed list.</p>
    <p class="mx-auto sub-text">Remember! You can always <strong>remove</strong> any burger you'd like.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <div class="holds-input">
      <h2 class="input-item subtitle">Add a Burger to the list</h2>
      <form class="create-form input-item">

        <div class="form-group">
          <label for="ca">Type the name of the burger:</label>
          <input type="text" id="ca" name="burger_name">
        </div>

        <button class="submit-button" type="submit">Add Burger</button>
      </form>
    </div>
  </div>
</div>

<div class="row holds-all-burgers">


  <div class=" col-sm-5 holds-half">
    <h2 class="subtitle">Burgers Just Waiting To Be Devoured!</h2>
    <div>
      {{#each burgers}}
      {{#unless devoured}}
      {{> blocks/burger-block devoured=true}}
      {{/unless}}
      {{/each}}
    </div>
  </div>

  <div class=" col-sm-5 holds-half">
    <h2 class="subtitle">The Burger Graveyard!</h2>
    <div>
      {{#each burgers}}
      {{#if devoured}}
      {{> blocks/burger-block devoured=false}}
      {{/if}}
      {{/each}}
    </div>
  </div>


</div>