<div class="container">
  <h1 class="title">Welcome To BurgerBar!</h1>
  <div class="sub-text">
    <p class="text-center">Enter the name of any burger to add it to the list, then you can click <strong>Eat it
        now!</strong> to move that burger to the consumed list. Remember! You can always <strong>remove</strong> any
      burger you'd like.</p>
  </div>
  <div class="row">
    <form class="form-container input-item">
      <div class="form-group form-inline">
        <label for="ca">Type The Name Of The Burger You'd Like To Add: </label>
        <input type="text" id="ca" name="burger_name">
      </div>
      <button class="submit-button" type="submit">Add Burger</button>
    </form>
  </div>

  <div class="row container-inner">
    <div class="container-inner-inner">
      <h2 class="inner-inner-title">Burgers Just Waiting To Be Devoured!</h2>
      <div>
        {{#each burgers}}
        {{#unless devoured}}
        {{> blocks/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
      </div>
    </div>

    <div class="container-inner-inner">
      <h2 class="inner-inner-title">The Burger Graveyard!</h2>
      <div>
        {{#each burgers}}
        {{#if devoured}}
        {{> blocks/burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </div>
    </div>


  </div>